@import "../Base/base";
@import "../Theme/variable";
//---------------------------------------
.ttcn{
    .btn-primary{
        background-color: $btn-cl-prim;
        border: none;
        &:hover{
            background-color: $btn-cl-hprim;
        }
    }
}